@media (max-width: 768px) {

    /*CONTENT*/
    .content {
    padding: 60px 5px;
    justify-self: center;
    }
    
    .content .section-title {
    font-size: 2.5em;
    padding: 15px 0px;
    }
    
    .cadastrar {
        padding: 15px;
    }
    
    .form {
      border-radius: 10px;
    }
    
    .form label {
        font-size: 1.2em;
        margin-bottom: 0px; /* Adiciona espaço entre os labels */
    }
    
    .form input {
      padding: 6px 6px;
      font-size: 0.8em;
    }
    
    .form input::placeholder{
      font-size: 0.8em;
    }
    
    .form button[type="submit"] {
      font-size: 1em; /* Tamanho desejado*/
    }
    
    .button {
        padding: 0px;
    }
    
    .form li {
       padding: 0px;
    }
    
    .form .login {
        font-size: 0.6em;
    }
}