@media (max-width: 768px) {

/*CONTENT*/
    .content {
    padding: 20px 10px;
    margin: 0 auto;
    justify-self: center;
    }
    
    .content .section-title {
        font-size: 2.5em;
        padding: 15px 0px;
    }
    
    .title-section {
        padding: 10px;
    }
    
    .cat {
        padding: 1em;
    }
    
    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }  
    
    .cat .botao-link {
        padding: 1.8em 1em;
        font-size: 1.5em; /* Tamanho desejado*/
    }

    #icone_ {
        font-size: 1.5em; /* Tamanho desejado*/
    }
}   