@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  justify-content: center; /* Centraliza os itens horizontalmente */
  overflow: hidden;
  background-color: #fff;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: -120px;
  z-index: 99;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#navbar a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

#navbar #logo {
  transition: 0.4s;
  margin-top: 100px;
  margin-bottom: -5px;
}

#navbar a:hover {
  font-weight: bold;
}

#navbar a.active {
  color: black;
  font-weight: bold;
  border-top-style: solid;
}
#navbar-bottom a:hover {
  color: black;
  font-weight: bold;
  border-top-style: solid;
}     
.center {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
}
.linha {
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin: 10px 20px;
  width: 98%;
}
#logo {
  height: 100px;
  transition: opacity 0.5s;
  cursor: pointer;
  margin-bottom: -35px;
}
.topnav .search-container {
  float: right;
}
.search-container {
    float: right;
    margin-top: -28px;
    margin-right: 130px;
}
.topnav input[type=text] {
  padding: 6px;
  font-size: 18px;
  border: none;
  background: none;
  width: 100px;
  outline: none; /* Remove a borda ao ser clicado */
}
::placeholder {
  color: black; /* cor desejada */
}
.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: none;
}
.topnav .search-container button:hover {
  background: none;
}
.icone {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.icone-container {
  position: relative;
  left: 550px;
  top: -20px;
}

img {
  vertical-align: middle;
}

/* Seção 2 - Combinação e suas peças */
#grid-comb {
      margin-top: 190px;
      margin-bottom: 150px;
      margin-left: 100px;
      margin-right: 100px;
      margin: 40px 150px;
    }
    
    /* Slideshow Combinação e peças = look1 */
    .container-comb {
      display: flex;
      align-items: flex-start;
      position: relative;
      margin-left: 150px;
    }
    
    .image-container-comb {
      width: 380px;
      position: relative;
    }
    
    #look1 {
      width: 380px;
      height: auto;
    }
    
    .section-title-wrap {
      display: block;
      margin: auto;
      position: relative;
      text-align: left;
      margin-left: 155px;
      font-size: 50px;
      margin-top: 200px;
    }
    
    .section-title {
      font-size: 50px;
      text-align: left;
      text-transform: uppercase;
    }
    
    .logo_ident {
      width: 150px;
      margin-bottom: -70px;
    }

    .icones-containerc {
      margin-top: 8px;
      margin-left: 10px;
    }  

.icone_ {
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.peca1-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 145px;
  margin-left: 500px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 425px;
  margin-left: 500px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca3-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 145px;
  margin-left: 705px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca4-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 425px;
  margin-left: 705px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca5-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 145px;
  margin-left: 905px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca6-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 425px;
  margin-left: 905px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca1-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 160px;
  margin-left: 120px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca2-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 465px;
  margin-left: 120px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca3-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 160px;
  margin-left: 335px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca4-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 465px;
  margin-left: 335px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca5-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 160px;
  margin-left: 545px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.peca6-look2-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 465px;
  margin-left: 545px;
  align-items: center;
  justify-content: center;

  width: 138px; 
  height: 185px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
 
/* Botão e Cards de classificação da combinação */ 
    .icon-overlay1 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 82px;
      left: 12px;
    }
    .icon-overlay2 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 95px;
      left: 554px;
    }
    
    .card {
      position: absolute;
      top: 20px;
      left: 20px;

      font-family: 'Inter', sans-serif;
      font-size: 14px;
      white-space: nowrap;

      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .ocasiao1-card {
      color: #FFFFFF;
      transform: rotate(-90deg);
      transform-origin: left center;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 130px; 
      left: 24px; 
      background-color: #FF4E50;

      padding: 0 25px;
      border-radius: 25px;
    }
    
    .estilo1-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 680px; 
      left: 80px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
    }

    .ocasiao2-card {
      color: #FFFFFF;
      transform: rotate(-90deg);
      transform-origin: left center;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 150px; 
      left: 1105px; 
      background-color: #FF4E50;

      padding: 0 25px;
      border-radius: 25px;
    }
    
    .estilo2-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 685px; 
      left: 1050px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
    }

/* Look1 */
/* Peças 1 e 2 = look1*/
  .piece-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 65px;
    margin-top: 50px;
  }

  .piece {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece img {
    width: 150px;
  }

  .piece p {
    font-size: 15px;
    margin: 0;
    margin-left: -160px;
  }

  .piece b {
    font-size: 15px;
  }

  /* Peças 3 e 4 = look1*/
  .piece-container2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .piece2 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece2 img {
    width: 150px;
  }

  .piece2 p {
    font-size: 15px;
    margin: 0;
    margin-left: -160px;
  }

  .piece2 b {
    font-size: 15px;
  }

  /* Peças 5 e 6 = look1*/
  .piece-container3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
  }

  .piece3 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece3 img {
    width: 150px;
  }

  .piece3 p {
    font-size: 15px;
    margin: 0;
    margin-left: -160px;
  }

  .piece3 b {
    font-size: 15px;
  }

/* Look2 */
  .look2-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 20px;
    margin-left: 150px;
  }

  .look2-container .image-container {
    width: 380px;
    position: relative;
  }  

  #look2 {
      width: 380px;
      height: auto;
  }


  /* Look2 */
  /* Peças 1 e 2 = look2*/
  .piece-container-look2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 65px;
    margin-top: 50px;
  }

  .piece2-1 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece2-1 img {
    width: 150px;
  }

  .piece2-1 p {
    font-size: 15px;
    margin: 0;
    margin-left:-160px;
  }

  .piece2-1 b {
    font-size: 15px;
  }

  /* Peças 3 e 4 = look2*/
  .piece-container-look2-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .piece2-2 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece2-2 img {
    width: 150px;
  }

  .piece2-2 p {
    font-size: 15px;
    margin: 0;
    margin-left: -160px;
  }

  .piece2-2 b {
    font-size: 15px;
  }

  /* Peças 5 e 6 = look2*/
  .piece-container-look2-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .piece2-3 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .piece2-3 img {
    width: 150px;
  }

  .piece2-3 p {
    font-size: 15px;
    margin: 0;
    margin-left: -160px;
  }

  .piece2-3 b {
    font-size: 15px;
  }

    /* Estilos para a área de filtro */
    .filtro {
      margin-top: -20px;
      width: 220px;
      background-color: #ffffff;
      padding-left: 20px;
      margin-left: -145px;
      position: absolute;
    }

    .filtro-item {
      font-size: 22px;
      text-transform: uppercase;
      font-family: 'Inter', sans-serif;
    }

/* The container */
.container-filtro {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
   text-transform: uppercase;
   font-family: 'Inter', sans-serif;
}

/* Hide the browser's default checkbox */
.container-filtro input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-filtro:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-filtro input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-filtro input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-filtro .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-overlay-filtro {
      position: relative;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
#iconoverlayfiltro1 {
  background-color: #f8dc3d; 
  left: 130px;
}
#iconoverlayfiltro2 {
  background-color: #5820c0; 
  left: 130px;
}
#iconoverlayfiltro3 {
  background-color: #d31818; 
  left: 130px;
}
#iconoverlayfiltro4 {
  background-color: #16a51d; 
  left: 130px;
}
#iconoverlayfiltro5 {
  background-color: #ce32d3; 
  left: 130px;
}
#iconoverlayfiltro6 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro7 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro8 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro9 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro10 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro11 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro12 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro13 {
  background-color: #45a049; 
  left: 130px;
}
#iconoverlayfiltro14 {
  background-color: #45a049; 
  left: 130px;
}

/* Rodapé */
.desc-footer1 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.desc-footer2 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.desc-footer3 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
} 

.desc-footer4 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black; /* Define a cor do link como preto */
  text-decoration: none; /* Remove a sublinhado padrão do link */

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
} 

.linha-footer {
   height: 1px;
   margin-top: 50px;
   margin-bottom: 50px;
   border-bottom: 1px solid white;
   width: 100%;
   display: flex;
   justify-content: center;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-footer div {
    margin: 0 10px;
}

.logo_branca{
    width: 125px;
    vertical-align: center;
    justify-content: center;
}

footer {
    margin-top: 100px;
    background-color: #000000;
    padding: 20px;
}

footer a {
    text-transform: lowercase;
    text-decoration: none; /* Remover o sublinhado */
}

.titulo-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}

.link {
  color: white; /* Define a cor do link como preto */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}

/* Indicador */
#indicator {
  position: absolute;
  top: 240px;
  left: 65px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
}

#indicator ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#indicator li {
  margin-right: 10px;
}

#indicator a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

#arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin-left: -5px;
}