body {
      margin: 0;
      font-family: "Lato", sans-serif;
    }

    .scroll::-webkit-scrollbar{
      width: 8px;
      border: 1px solid (223, 223, 223);
    }

    .scroll::-webkit-scrollbar-thumb{
      background-color: rgb(0, 0, 0);
    }

    .scroll::-webkit-scrollbar-thumb:hover{
      background-color: rgb(124, 124, 124);
    }

    .scroll{
      overflow-y: scroll;
      background-color: rgb(223, 223, 223);
      margin: 0;
      padding: 0;
      width: 300px;
      position: fixed;
      height: 100%;
      left: 11.1%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    /*Parte Superior (Logo etc)*/
    .logo{
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 20px;
      text-align: center; /* Centralizar texto */
      width: 200px;
    }

    /*Texto "adm" na Logo etc*/
    .logo h1{
      padding-top: -10px;
      padding-left: 10px;
      margin-bottom: 0; /* Remover margem inferior */
      text-align: left;
      font-size: 15px;
    }

    /*Logo imagem*/
    .logo img{
      width: 120%;
      height: auto;
      display: block; /* Centralizar imagem */
      margin-left: auto;
      margin-right: auto;
    }

    /*Classe geral do Procurar*/
    .topnav
    {
      padding-top: 10px;
      padding-right: 30px;
      text-align: center; /* Centralizar texto */
      align-items: center;
      vertical-align: auto;
    }

    /*Botão e Input do Procurar*/
    .topnav .search-container button input{
      float: right;
      background-color: rgba(223, 215, 204, 0.685);
      font-size: 17px;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      align-items: center;
    }

    /*Botão do Procurar*/
    .topnav .search-container button {
      float: right;
      border-radius: 6px;
      background-color: rgba(223, 215, 204, 0);
      border: none;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      cursor: pointer;
      border-radius: 6px;
      text-align: center;
      align-items: center;
      height: 40px;
      padding-top: 14px;
    }

    /*Container forma ao redor do Procurar*/
    .search-container {
        border-radius: 6px;
        float: right;
        background-color: rgba(223, 215, 204, 0.2);
        border: none;
        text-align: center;
        text-decoration: none;
        display: flex; /* Usar flexbox para centralizar */
        align-items: center; /* Alinhar verticalmente ao centro */
        text-align: center;
        height: 40px;
    }

    /*Texto do Procurar*/
    .topnav input[type=text] {
      padding: 20px;
      font-size: 17px;
      border: none;
      background: none;
      width: 100px;
      height: 40px;
      outline: none; /* Remove a borda ao ser clicado */
      margin-left: 0px;
      align-items: center;
    }

    /*Menu Lateral e Linha, Animação*/
    #navbar-bottom a:hover {
      color: black;
      font-weight: bold;
      border-left-style: solid;
    }  

    /*ícone TIPO CORPORAL*/
    #navbar-bottom a img{
      width: 28px;
      vertical-align: middle; /* Centralizar verticalmente */
      padding: 15px;
      align-items: center;
    }  

    /*Menu Lateral*/
    .sidebar {
      background-color: #FFFF;
    }

    /*Menu Lateral*/
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      font-size: 15px;
      align-items: center;
    }

    /*USUÁRIO do Menu Lateral*/
    .usu{
      display: block;
      color: black;
      padding-top: 70px;
      text-decoration: none;
    }

    /*Icones do Menu Lateral*/
    .sidebar span {
      padding: 15px;
    }
    
    /*Animação do Menu Lateral*/
    .sidebar a.active {
      background-color: #FFFF;
      color: black;
    }

    /*Conteúdo da Página*/
    div.content {
      margin-left: 300px;
      padding: 1px 16px;
      height: 1000px;
    }

    /* Rodapé */
.linha-footer {
   height: 1px;
   margin-top: 50px;
   margin-bottom: 50px;
   border-bottom: 1px solid white;
   width: 100%;
   display: flex;
   justify-content: center;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

.container-footer div {
    margin: 0 10px;
}

footer {
    margin-top: 100px;
    background-color: #000000;
    padding: 20px;
}

footer a {
    text-transform: lowercase;
    text-decoration: none; /* Remover o sublinhado */
}

.titulo-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}

/* Indicador */
#indicator {
  position: absolute;
  top: 45px;
  left: 380px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
}

#indicator ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#indicator li {
  margin-right: 10px;
}

#indicator a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

#arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin-left: -5px;
}

/* Linha preta horizontal */
.top-line {
  width: 100%;
  height: 20px;
  background-color: black;
  z-index: 20;
}

    /* Estilos para telas maiores */
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }

    /* Estilos para telas menores */
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }

    /*Classe geral do botão SAIR*/
    .btn {
      text-align: center; /* Centralizar texto */
      padding-top: 20px; /* Espaçamento superior */
      align-items: center;
      padding-bottom: 50px;
      /* Centralizar o botão */
      display: flex;
      justify-content: center;
    }

    /*botão SAIR*/
    .btn3 span{
        border-radius: 6px;
        border: none;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        align-items: center;

    }

    .btn3{
        border-radius: 6px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        width: 40%;
        height: 40px;
        align-items: center;
        text-align: center;
        align-content: center;
        vertical-align: middle;
        display: flex; 
        background-color: rgba(223, 215, 204, 0.2);
    }

    .content h1{
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 40px;
        padding-left: 60px;
      }

    .forms {
      text-transform: uppercase;
      margin: 50px auto;
      padding: 20px;
      border-radius: 10px;
      font-weight: 600;
    }

    .forms label {
        font-size: 20px;
        padding-left: 150px;
    }

    .forms input[type="text"] {
      width: 350px;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgba(223, 215, 204, 0.5);
      font-size: 17px;
      color: black;
    }

    .forms input[type="text"]::placeholder{
    
      color: black;
    }

    .forms input[type="text1"] {
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgba(223, 215, 204, 0.5);
      font-size: 17px;
      width: 350px;
    }

    .forms button {
      display: block;
      width: 200px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgb(223, 215, 204);
      color: black;
      font-weight: bold;
      cursor: pointer;
      font-weight: 790;
      text-transform: uppercase;
    }

    .forms .btn2{
        padding-left: 600px;
    }

    .forms button:hover {
      background-color: rgba(223, 215, 204, 0.664);
    }

.container {
  position: relative;
}

.item {
  position: absolute;
}