@media (max-width: 871px) {
    /*CONTENT*/
    .content {
    grid-area: content;
    padding: 10px;
    justify-content: center;
    }
    
    .content .section-title {
    font-size: 2.5em;
    font-weight: 400;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 20px 0px;
    }
    
    .form {
      text-transform: uppercase;
      padding: 5px;
      border-radius: 10px;
    }
    
    .form label {
        font-size: 1em;
        display: block; /* Faz com que os labels ocupem toda a largura do container */
        margin-bottom: 25px; /* Adiciona espaço entre os labels */
        font-weight: 600;
    }
    
    .form input[type="text"] {
      width: 225px;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      font-weight: normal;
    }
    
    .form input[type="text"]::placeholder{
      color: black;
      font-size: 1em;
    }

    .form input {
      width: 225px;
      border: none;
      border-radius: 5px;
      font-size: 1em;
      font-weight: normal;
    }
    
    .form input ::placeholder{
      color: black;
      font-size: 1em;
    }

}