@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  justify-content: center; /* Centraliza os itens horizontalmente */
  overflow: hidden;
  background-color: #fff;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: -120px;
  z-index: 99;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#navbar a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

#navbar #logo {
  transition: 0.4s;
  margin-top: 100px;
  margin-bottom: -5px;
}

#navbar a:hover {
  font-weight: bold;
}

#navbar a.active {
  color: black;
  font-weight: bold;
  border-top-style: solid;
}

#navbar-bottom a:hover {
  color: black;
  font-weight: bold;
  border-top-style: solid;
}   

.center {
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 10px;
}

.linha {
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin: 10px 20px;
  width: 98%;
}

#logo {
  height: 100px;
  transition: opacity 0.5s;
  cursor: pointer;
  margin-bottom: -35px;
}

.topnav .search-container {
  float: right;
}

.search-container {
    float: right;
    margin-top: -28px;
    margin-right: 130px;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 18px;
  border: none;
  background: none;
  width: 100px;
  outline: none; /* Remove a borda ao ser clicado */
}

::placeholder {
  color: black; /* cor desejada */
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: none;
}

.topnav .search-container button:hover {
  background: none;
}

.icone {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.icone-container {
  position: relative;
  left: 550px;
  top: -20px;
}

/* Seção 2 - Combinação e suas peças */
.section-title-wrap {
  display: block;
  margin: auto;
  position: relative;
  text-align: left;
  margin-left: 155px;
  font-size: 50px;
  margin-top: 200px;
}

.section-title {
  font-size: 50px;
  text-align: left;
  text-transform: uppercase;
}

.logo_ident {
  width: 150px;
  margin-bottom: -65px;
}

.icones-containerc {
  margin-top: 8px;
  margin-left: 10px;
}  

.icone_ {
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px;
}

.favoritos_icon {
    position: absolute;
    font-size: 50px;
    margin: 10px;
    margin-top: 100px;
    margin-left: -220px;
}

/* Indicador */
#indicator {
  position: absolute;
  top: 240px;
  left: 65px;
  background-color: transparent;
  color: #333;
  font-size: 14px;
}

#indicator ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#indicator li {
  margin-right: 10px;
}

#indicator a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

#arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin-left: -5px;
}

/* Peças 1 e 2 = look1*/
.piece-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 65px;
  margin-top: 20px;
}

.piece {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
}

.piece img {
  width: 198px;
}

.piece p {
  font-size: 15px;
  margin-top: 25px;
}

.piece b {
  font-size: 15px;
}

.card {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.favorito1-card {
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 235px; 
  height: 315px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 240px;
  margin-top: 150px;
}

.favorito2-card {
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 235px; 
  height: 315px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 240px;
  margin-top: 150px;
}

.favorito3-card {
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 235px; 
  height: 315px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 240px;
  margin-top: 150px;
}

.favorito4-card {
  color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 235px; 
  height: 315px; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 240px;
  margin-top: 150px;
}

.ocasiao {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.icon-tc1 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 365px;
      left: 132px;
}

.icon-tc2 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 365px;
      left: 270px;
}
.icon-tc3 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 365px;
      left: 410px;
}

.icon-tc4 {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #45a049; 
      border-radius: 5px;
      top: 365px;
      left: 535px;
}

.estilo1-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 900px; 
      left: 120px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
}

.estilo2-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 900px; 
      left: 395px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
}

.estilo3-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 900px; 
      left: 670px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
}

.estilo4-card {
      color: #FFFFFF;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      width: 120px;

      top: 900px; 
      left: 930px; 
      background-color: #3498DB;

      padding: 0 25px;
      border-radius: 25px;
}

/* Rodapé */
.desc-footer1 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.desc-footer2 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

.desc-footer3 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
} 

.desc-footer4 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black; /* Define a cor do link como preto */
  text-decoration: none; /* Remove a sublinhado padrão do link */

  text-align: center;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
} 

.linha-footer {
   height: 1px;
   margin-top: 50px;
   margin-bottom: 50px;
   border-bottom: 1px solid white;
   width: 100%;
   display: flex;
   justify-content: center;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-footer div {
    margin: 0 10px;
}

.logo_branca{
    width: 125px;
    vertical-align: center;
    justify-content: center;
}

footer {
    margin-top: 100px;
    background-color: #000000;
    padding: 20px;
}

footer a {
    text-transform: lowercase;
    text-decoration: none; /* Remover o sublinhado */
}

.titulo-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
}

.link {
  color: white; /* Define a cor do link como preto */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}