body, p, h1, ul, li, blockquote, span {
    padding: 0px;
    margin: 0px;
  }

  body {
    font-family: 'Inter', sans-serif, Georgia, serif;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    outline: none; /* Remove a marcação de foco (a marcação azul) */
    color: black;
  }

  span {
    border: none;
    background: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  /* GRID GERAL */
  .estrutura {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-template-areas:
    "pre-header"
    "header"
    "content"
    "footer"
    "pos-footer"
    ;
  }
  
  #menu {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
/*PRE-HEADER*/
.pre-header {
grid-area: pre-header;
background-color: rgba(0, 0, 0);
padding: 5px;
padding-right: 134.8px;
color: rgba(255, 255, 255);
text-align: center;
font-size:1.000em;
}

/*HEADER*/
.header {
  grid-area: header;
  background:rgba(255, 255, 255);
  padding: 20px 130px;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

   /* HEADER - Parte de cima*/
.menu-norte{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: center;
}

   /* HEADER - Parte debaixo*/
.menu-sul{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

    /* HEADER - Logo */
.logo {
  max-width: 250px;
  transition: opacity 0.5s;
  cursor: pointer;
}

    /* HEADER - Botões / Ícones Laterais */
.header i + i  {
  padding: 5px;
}

.button-icone {
  border: none;
  cursor: pointer;
  background: none;
}

.button-icone:hover {
  border: none;
  cursor: pointer;
  background: none;
}

    /* HEADER - Linha */
.linha-menu {
  border-bottom: 2px solid rgba(230, 230, 230, 100);
}

    /* HEADER - Itens */
.menu-itens ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-itens a {
  display: block;
  padding: 10px;
  color: rgba(0, 0, 0);
  font-size: 1.125em;
  transition: 0.1s;

  text-transform: uppercase;
  font-weight: normal;
}

.menu-itens a:hover {
  color: rgba(0, 0, 0);
  font-weight: 600;
  border-top-style: solid;
}

.header li {
  margin-right: 30px;
}

    /* HEADER - Barra de Pesquisa */
.search-input {
  border: none;
  background: none;
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0);
  font-weight: normal;
  font-size: 1.125em;
}

.search-button {
  border: none;
  cursor: pointer;
  background: none;
}

.search-button:hover {
  border: none;
  cursor: pointer;
  background: none;
}

/* Indicador */
#indicator {
text-align: left;
font-size: 1em;
text-transform: uppercase;
padding: 10px;
}

#indicator ul {
list-style-type: none;
align-items: center;
display: flex;
flex-wrap: wrap;
}

#indicator a {
text-decoration: none;
padding: 5px;
text-transform: uppercase;
font-family: 'Inter', sans-serif;
}

#arrow {
border-top: 4px solid transparent;
border-bottom: 4px solid transparent;
border-left: 4px solid #333;
}


/*CONTENT*/
.content {
   grid-area: content;
   padding: 70px;
   justify-self: center;
   padding-top: 16%;
}

.title-section {
    display: flex;
}

#favoritos_icon {
    font-size: 3.5em;
    padding: 0px 18px;
    margin-top: 60px;
}

.content .section-title {
color: rgba(0, 0, 0);
font-size: 4em;
font-weight: 400;
text-transform: uppercase;
}

.combinacoes-looks {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#desc {
font-size: 0.900em; /* Tamanho desejado dos ícones */
max-width: 250px;
}

.secao-pecas {
  padding: 10px;
  padding-bottom: 100px;
}

.secao-pecas .card {
width: 235px; 
height: 315px;  
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.card img {
max-width: 200px;
cursor: pointer;
margin: auto;
}

.ocasiao{
  font-size: 1.200em; /* Tamanho desejado dos ícones */
  font-weight: 700;
  text-transform: uppercase;
}

.icon-overlay {
display: relative;
position: absolute;
transform: translate(650%, -120%);
background-color: #45a049; 
border-radius: 5px;
}

.estilo-card {
display: relative;
position: absolute;
font-weight: 600;
padding: 5px;
transform: translate(0%, 0%);
background-color: #3498DB;
border-radius: 5px;
}

#icone_ {
  display: relative;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  font-size: 1.550em; /* Tamanho desejado dos ícones */
  transform: translate(400%, 0%);
}

  /*FOOTER*/
  .footer {
    grid-area: footer;
    padding: 45px;
    background: rgba(30, 30, 30);
  }

  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none; /* Remover o sublinhado */
    font-size: 1em;
    font-weight: 500;
    padding: 30px;
  }

  .footer a {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none; /* Remove sublinhado padrão de links */
    outline: none; /* Remove a marcação de foco (a marcação azul) */
  }

  .linha-footer {
    padding: 20px;
    border-bottom: 2px solid rgba(230, 230, 230, 100);
  }
  
  .footer img {
    max-width: 250px;
    justify-items: center;
    padding: 20px;
  }

  /*POS-FOOTER*/
  .pos-footer {
    grid-area: pos-footer;
    display: grid;
    grid-row: 2fr;
    padding: 10px;
    text-align: center;
    color: black;
  }
  
  .pos-footer .row1{
    text-align: center;
    text-justify: center;
  }

  .pos-footer .row2{
    text-align: center;
    text-justify: center;
  }

.row1,
.row2 {
    padding: 10px;
}

@media (max-width: 768px) {
/*CONTENT*/
.content {
  padding: 0px;
}

#favoritos_icon {
   margin-top: 20px;
}

.content .section-title {
font-size: 2em;
}

}
