.html1{
    align-items:center;
    color: black;
  }

  .titulo1{
    color:black;
    font-weight:700;
    text-align:left;
    font-size: 20px;
    padding-top: -8px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  .html1 p{
      align-items:left;
      padding-left: -50px;
      color: black;
      text-align: left;
      font-size: 15px;
  }

  .html1 .circle1 {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html2 .circle1 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html3 .circle1 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html1 .circle2 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html2 .circle2{
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html3 .circle2 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html1 .circle3 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html2 .circle3 {
    width: 75px;
    height: 75px;
    background-color: rgba(158, 156, 154, 0.5);
    color: black;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .html3 .circle3{
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 1.0rem;
  }

  .h7{
    color:black;
    font-weight:none;
  }  


  .html1 p{
      align-items:center;
      padding-left: -50px;
      color: black;
      text-align: left;
      font-size: 1.0rem;
  }

  .html1 span{
      font-weight: bolder;
  }

  .html3{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 25px;
    cursor: auto;
    font-size: 15px;
  }

  .btn1 {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-left: 423px;
  }

  .btn2{
    color:black;
  }

  .fechar{
    color:black;
  }

  .fechar:hover{
    color: grey;
  }
  
   .html2 input{
    width: 200px;
    font-weight: 900px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(223, 215, 204, 0.5);
    font-size: 17px;
    color: black;
  }
  
  .html3 p{
      align-items:center;
      padding-left: -50px;
      color: black;
      text-align: left;
      font-size: 15px;
  }

  .html4{
      align-items:center;
      text-align: center;
      color: black;
  }

  .html2 .titulo1{
      align-items:center;
      padding-left: -50px;
      color: black;
      text-align: left;
      font-size: 15px;
  }

  .html1 h4{
      color: black;
  }

  .html2 h4{
    color: black;
    font-size: 1.3rem;
  }

  .html3 img{
    margin-top: 15px;
  }

  .html3{
    color: black;
    font-size: 1.5rem;
    align-items:center;
    text-align: center;
  }

  .html3 p{
    padding-left: 45px;
  }

  .html3 p span{
    font-weight: bolder;
  }

  .html2{
    color: black;
  }

  /*Provavelmente seu corpo é alerta4*/
  .html3 h3{
    color: black;
    font-weight: 8px;
  }

/* Avaliações */

.titulo1 {
  color: black;
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  padding-top: -8px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-left: 30px;
}

.h7{
  color:black;
  font-weight: bold;
}

.html{
    align-items:left;
    padding-top: 20px;
    display: inline-flex;
    color: black;
}

fieldset {
  width: 170px;
  height: 310px;
  display: inline-block;
  margin-right: 50px;
  border-radius: 4px;
  color: black;
  text-align: center;
  vertical-align:top;
} 

fieldset.left-align {
  text-align: left;
}

.f2{
  height: 120px;
  display: inline-block;
  margin-right: 50px;
  border-radius: 4px;
  color: black;
  text-align: center;
  cursor: pointer;
} 

.btn1 {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding-left: 423px;
}

.h4 {
  padding-top: 30px;
  color: black;
  padding-right:360px;
}

.fechar{
  color:black;
}

.fechar:hover{
  color: grey;
}

.line{
  color: black;
}

.f1 .star {
  cursor: pointer;
  color: gold;
  vertical-align: middle;
}

.off {
  color: rgb(250, 236, 160);
  vertical-align: middle;
}

.star {
  color: rgb(250, 236, 160);
  vertical-align: middle;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 2px;
  /*align-items: flex-end;
  text-align: center;*/
  width:180px;
  margin-left: 520px;
  margin-bottom: 25px;
  font-size: 17px;
  text-align: left;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  text-align: left;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
color: black;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
img {
  cursor: pointer;
}

.btn2 {
  float: right;
}

.btn3 {
  float: right;
}

/* Adicionar Avaliações */

  .titulo1 {
    color: black;
    font-weight: 700;
    text-align: left;
    font-size: 15px;
    padding-top: -8px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
  }

  .h7{
    color:black;
    font-weight:none;
  }

  .html{
      align-items:left;
      padding-top: 20px;
      display: inline-block;
      color: black;
  }
  
  fieldset {
      border-radius: 10px;
      color: black;
      align-items: left;
      text-align: left;
  } 

  fieldset input[type="text"] {
      width: 200px;
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      background-color: rgba(223, 215, 204, 0.486);
      font-size: 17px;
      color: black;
      display: inline-block;
      text-decoration: none;
      
  }

  fieldset textarea {
    width: 450px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(223, 215, 204, 0);
    font-size: 17px;
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    outline: none; /* Remover a borda ao clicar na caixa de texto */
    resize: vertical; /* Permitir o redimensionamento vertical da área de texto */
  }

  form {
    align-items: left;
  }

  .btn1 {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-left: 423px;
  }

  .h4 {
    color:black;
    padding-right:360px;
  }

  .html form input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(223, 215, 204, 0.5);
    font-size: 17px;
    color: black;
    display: inline-block;
  }

  .btn2{
    color:black;
  }

  .fechar{
    color:black;
  }

  .fechar:hover{
    color: grey;
  }

  .line{
    color: black;
  }

  .star {
  cursor: pointer;
  color: rgb(250, 236, 160);
  }

  .filled {
    color: gold;
  }
  
  .swal2-actions {
    text-align: right;
  }
  
  .upload-icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 15px;
  }