body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif, Georgia, serif;
}

.estrutura {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
            "pre-header pre-header"
            "header content"
            "header content"
            "header content"
            "footer footer"
            "pos-footer pos-footer"
             ;
}

/*Linha Superior*/
.pre-header{
  grid-area: pre-header;
  background-color: rgba(0, 0, 0);
  padding: 5px;
  width: 99%;
}

 /*Menu Lateral*/
 header{
  grid-area: header;
  background:rgba(255, 255, 255);
  padding: 0px 1px;
  overflow-y: 100;
  border-right: 3px solid rgba(230, 230, 230);
}

 /*Parte Superior (Logo etc)*/
 .logo{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: center; /* Centralizar texto */
  width: 200px;
}

/*Texto "adm" na Logo etc*/
.logo h1{
  padding-top: -10px;
  padding-left: 10px;
  margin-bottom: 0; /* Remover margem inferior */
  text-align: left;
  font-size: 1em;
}

/*Logo imagem*/
.logo img{
  width: 120%;
  height: auto;
  display: block; /* Centralizar imagem */
  margin-left: auto;
  margin-right: auto;
}

.topnav
{
  padding-top: 10px;
  padding-right: 30px;
  text-align: center; /* Centralizar texto */
  align-items: center;
  vertical-align: auto;
}

/*Botão e Input do Procurar*/
.topnav .search-container button input{
  background-color: rgba(223, 215, 204, 0.685);
  font-size: 1.125em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

/*Botão do Procurar*/
.topnav .search-container button {
  border-radius: 6px;
  background-color: rgba(223, 215, 204, 0);
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125em;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  height: 40px;
  padding-top: 14px;
}

/*Container forma ao redor do Procurar*/
.search-container {
    border-radius: 6px;
    float: right;
    background-color: rgba(223, 215, 204, 0.2);
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex; /* Usar flexbox para centralizar */
    align-items: center; /* Alinhar verticalmente ao centro */
    text-align: center;
    height: 40px;
}

/*Texto do Procurar*/
.topnav input[type=text] {
  padding: 20px;
  font-size: 1.125em;
  border: none;
  background: none;
  width: 100px;
  height: 40px;
  outline: none; /* Remove a borda ao ser clicado */
  margin-left: 0px;
  align-items: center;
}

/*Menu Lateral e Linha, Animação*/
#navbar-bottom a:hover {
  color: black;
  font-weight: bold;
  border-left-style: solid;

}  

/*ícone TIPO CORPORAL*/
#navbar-bottom a img{
  width: 28px;
  vertical-align: middle; /* Centralizar verticalmente */
  padding: 15px;
  align-items: center;
}  

/*Menu Lateral*/
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 1.125em;
  align-items: center;
}

/*USUÁRIO do Menu Lateral*/
.usu{
  display: block;
  color: black;
  padding-top: 70px;
  text-decoration: none;
  font-weight: 600;
}

/*Icones do Menu Lateral*/
.sidebar span {
  padding: 15px;
}

/*Animação do Menu Lateral*/
.sidebar a.active {
    background-color: #FFFF;
    color: black;
}

 /*Classe geral do botão SAIR*/
 .btn {
    text-align: center; /* Centralizar texto */
    padding-top: 20px; /* Espaçamento superior */
    align-items: center;
    padding-bottom: 50px;
    
    /* Centralizar o botão */
    display: flex;
    justify-content: center;
}

/*botão SAIR*/
.btn3 span{
    border-radius: 6px;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.btn3{
    border-radius: 6px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.200em;
    cursor: pointer;
    width: 40%;
    height: 40px;
    align-items: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    display: flex; 
    background-color: rgba(223, 215, 204, 0.2);
}

.tela{
  display: none;
}

/*=============== 
CONTENT
==================*/
.content{
  grid-area: content;
  width: 100%;
}

/* Indicador */
#indicator {
  position: absolute;
  text-align: left;
  margin:3%;
  background-color: transparent;
  color: #333;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
 }
 
 #indicator ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
 }
 
 #indicator li {
  margin-right: 10px;
 }
 
 #indicator a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
 }
 
 #arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin-left: -5px;
 }

 .content h1{
  text-align: left;
  margin-top: 70px;
  font-weight: 800;
  font-size: 45px;
  padding-left: 50px;
  }

  .list-table {
    width:  50%;
    margin-left: 15px;
    border-collapse: collapse;
    background-color: rgba(223, 215, 204, 0.5);
    border-radius: 10px;
    z-index: -20;
  }

  .list-table th,
  .list-table td {
    padding: 10px;
    border: 1px solid transparent;
  }

  .list-table td {
    padding-bottom: 5px;
    text-align: center;
  }

  .list-table thead {
    background-color: transparent;
    text-transform: uppercase;
    border-bottom: 2px solid black;
  }

  .list-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom:20px;
    align-items: left;
    padding-left: 50px;
  }

  .list-actions button {
    align-items: left;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: black;
    color: rgb(255, 254, 245);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    font-weight: 700;
  }

  .list-actions button:hover {
    background-color: rgb(78, 77, 77);
  }

/*=============== 
FOOTER
==================*/

.pos-footer{
  grid-area: pos-footer;
}

footer {
  grid-area: footer;
  margin-top: 1px;
  background-color: #000000;
  padding: 20px;
}

.linha-footer {
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: center;
  }

.titulo-footer {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1em;
}

@media (min-width: 2000px) {
  .estrutura {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 
              "pre-header pre-header"
              "header content"
              "header content"
              "header content"
              "footer footer"
              "pos-footer pos-footer"
               ;
  }

 .logo h1{
    font-size:1.5em;
  }

  .logo img{
    width: 200%;
  }

  /*Botão e Input do Procurar*/
.topnav .search-container button input{
  font-size: 2.5em;
  text-align: left;
  align-items: left;
}

/*Botão do Procurar*/
.topnav .search-container button {
  font-size: 1.5em;
  padding-top: 20px;
}

/*Container forma ao redor do Procurar*/
.search-container {
    float: center;
    height: 55px;
}

/*Texto do Procurar*/
.topnav input[type=text] {
  font-size: 1.5em;
  width: 200px;
  height: 250px;
}

  /*Icones do Menu Lateral*/
  .sidebar a {
    font-size: 1.5em;
  }
  
  .sidebar span {
    font-size: 30px;
  }
  
  .content{
    grid-area: content;
  }
  
  /* Indicador */
  #indicator {
    font-size: 1.5em;
   }
  
  
  .content h1 {
    font-size: 4em;
    margin-top: 150px;
  }
  
  .list-table {
    width:  60%;
    margin-left:35px;
    font-size: 1.5em;
  }

  .list-table th,
  .list-table td {
    padding: 15px;
  }


  .list-actions {
    margin-top:0px;
    padding-bottom:30px;
  }

  .list-actions button {
    align-items: center;
    text-align: center;
    margin: 0 10px;
    padding: 20px 0px;
    font-size: 1.4em;
    width: 200px;
  }

  .container-checkbox {
    display: flex;
    font-size: 50px;
    padding-left: 105px;
    padding-top: 80px;
    padding-bottom: 15px;
  }

/* Hide the browser's default checkbox */
  .container-checkbox input {
    height: 50px;
    width: 50px;
  }

/* Create a custom checkbox */
  .checkmark {
    position: absolute;
    height: 30px;
    width: 30px;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    width: 7px;
    height: 15px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
      
    /* Upload da foto da Combinação */  
    .content h3 {
      position: absolute;
      margin-top: -90px;
      margin-left: 38%;
    }   

    .content #botaolateral {
      position: absolute;
      margin-left: 535px;
      margin-top: -95px;
    }  

}

@media (max-width: 780px) {

  .header{
    align-items: center;
    justify-content: center;
  }

  .btn4 #icon1 {
    margin-right: 100px;
    margin-top: -2px;
  }

  .icon {
    margin-top: -2px;
  }

  .form-group {
    display: block;
    margin-top: 30px;
  }

  .content h2 {
    margin-top: 15%;
    margin-bottom: -5px;
    text-align: left;
    font-weight: 700;
    font-size: 35px;
  }
      
  /* Upload da foto da Combinação */   
  .content h3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 25%;
  }

  .content #botaolateral {
    position: absolute;
    margin-left: 45%;
    margin-top: 10px;
  }  

  .content 
  .botaopeca1, 
  .botaopeca2, 
  .botaopeca3 {
    margin-right: 155px; 
  }

  .botaoregistrar {
    margin-top: 150px; 
  }  

  .content .botaoregistrar {
    margin-top: 100px;
  }  
}

/* Menu */
    @media (max-width: 700px) {


      .list-table {
        width:  100%;
        overflow-x: auto;
      }



      .estrutura {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                  "pre-header pre-header"
                  "content header"
                  "content content"
                  "content content"
                  "footer footer"
                  "pos-footer pos-footer"
                   ;
    }

    header{
        grid-area: header;
        background:rgba(255, 255, 255);
        padding: 0px 1px;
        overflow-y: 100;
        border-right:none;
      }
  
    #indicator a {
      font-size: 0.8em;
      padding: 5px;
      }
  
      .tela{
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 0.3em;
        padding-left: 1.5em;
        background-color: rgba(223, 215, 204, 0.486);
      }

      .sidebar{
        display: none;
      }

      .conteudo{
        display: none;
      }

      .btn3{
        width: 50%;
        background-color: rgba(223, 215, 204, 0.2);
      }
  
      .content{
        grid-area: content;
        justify-content: center;
        align-items: left;
        text-align: left;
        font-size: 1em;
        border-right: none;
      }
  
      .content h2{
        padding: 15%;
      }
  
      .content img{
        padding: 15px;
      }
  
      .header{
        grid-area: header;
        background:rgba(255, 255, 255);
        padding: 0px 1px;
        border-right: none;
      }
  
      .one,
      .two,
      .three {
        background-color: black;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
      }
  
      .menu-toggle {
        width: 40px;
        height: 30px;
        margin-right: 20px;
      }
  
      /*fullscreen */
      .menu-section.on{
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255);
        z-index: 10;
  
        display: flex;
        justify-content: left;
        align-items: center;
      }
  
      .menu-section.on .sidebar{
        display: block;
      }
  
      .menu-section.on .menu-toggle{
        position: absolute;
        right: 25px;
        top: 15px;
      }
  
      .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
      }
  
      .menu-section.on .menu-toggle .two{
        opacity: 0;
      }
  
      .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
      }
  
      .footer{
        margin-top: 200px;
      }
  
    } 